body{
    background: url('/static/img/indexb.png');
    background-size:cover;
    background-repeat:no-repeat;
}


.navbar{
    background: none;
    backdrop-filter: blur(10px);
    border-left: none;
    border-right: none;
    color: white;
}

.nav{
    color: white;
}

.row{
    border: 1px solid white;
    border-radius: 20px;
    backdrop-filter: blur(3px);
}

footer{
    color: white;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 11ex
    }
}


@keyframes blink {
    from {
        border-color: transparent
    }

    to {
        border-color: rgb(255, 255, 255);
    }
}

.typeout {
    width: fit-content;
    overflow: hidden;
    border-right: .15em solid rgb(0, 0, 0);
    white-space: nowrap;
    width: 0;
    animation:
        typing 2s steps(12, end) forwards,
        blink .8s infinite;
}

.page-header{
    color: white;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 60px;
}

.page-content{
    width: 70%;
    margin-left: 10%;
    margin-right: 20%;
}

.page-content p{
    color: white;
    font-size: 20px;
}

.jumbotron{
    background: none;
    /* background: url('/static/img/画板\ 1.png');
    background-size: cover; */
}




.row{
    background: none;
    width: 80%;
    margin-left: 10%;
    margin-left: 10%;
}

.content{
    margin-top: 60px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    display:table;
    border: 1px solid white;
    backdrop-filter: blur(10px);
    border-radius: 20px;
}


.info{
    border: 1px solid wheat;
}